<app-navbar></app-navbar>
<main>
  <div class="content">
    <h1>Welcome to the App</h1>
    <p *ngIf="userTimezones.length === 0">
      You've not timezones defined yet. Try adding a new one
    </p>

    <div class="select-container">
      <form>
        <mat-form-field>
          <mat-label>Available timezones</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="food">
            <mat-option *ngFor="let timezone of timezones" [value]="timezone">{{
              timezone
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div class="button-container">
      <button mat-fab extended (click)="addTimezone()">
        <mat-icon>add</mat-icon>
        Add timezone
      </button>
    </div>

    <div class="timezones">
      <timezone-card
        *ngFor="let timezone of userTimezones"
        [timezone]="timezone"
        (delete)="deleteTimezone($event)"
      ></timezone-card>
    </div>
  </div>
</main>
